@media only screen and (min-width: 768px) {

  #promociones {
    min-height: 85vh;
    padding: 60px 40px;
    clip-path: ellipse(120% 100% at 50% 100%);

    h1 {
      font-size: 64px;
      width: 80%;
      line-height: 1;
      margin-bottom: 20px;
    }

    p {
      width: 70%;
      font-size: 40px;
      line-height: 1.4;
    }
  }

  /* círculo promo */
  #thursday-promo {
    height: 100%;
    background-size: 30%;
  }

  /* bubble teas */
  #bubble-tea-1,
  #bubble-tea-2 {
    width: 400px;
    margin: 0;
  }

  /* animaciones adaptadas */
  @keyframes bubble-left {
    from {
      opacity: 0;
      transform: translate(-1000px, -20px) rotate(-10deg);
    }

    to {
      opacity: 1;
      transform: translate(120px, -40px) rotate(-8deg);
    }
  }

  @keyframes bubble-right {
    from {
      opacity: 0;
      transform: translate(1000px, -10px) rotate(10deg);
    }

    to {
      opacity: 1;
      transform: translate(-120px, -20px) rotate(8deg);
    }
  }
}