/*Estilos generales para web */

/* Fuentes */

@font-face {
  font-family: "Jua";
  src: url("/fonts/Jua/Jua-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* IMPRESCINDIBLE */
}

@font-face {
  font-family: "Lilita One";
  src: url("/fonts/Lilita_One/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* IMPRESCINDIBLE */
}

@font-face {
  font-family: "Bangers";
  src: url("/fonts/Bangers/Bangers-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* IMPRESCINDIBLE */
}

/* Paleta de colores y fuentes */
:root {
  /* Paleta de colores */
  --purple-main: #9d4edd;
  --purple-dark: #5a189a;
  --cream-main: #fff8e6;
  --cream-dark: #fdf0cd;
  --text-main: #1f1f1f;

  /* Fuentes */
  --title: "Jua", sans-serif;
  --standard: "Lilita One", cursive;
  --accent: "Bangers", cursive;

  color-scheme: light;

}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: light;
  }
}
